.container {
  max-width: 7700px;
  margin: 0 auto;
  padding: 30px;
  border: #8dd314;
}
.body {
  display: flex;
  justify-items: center;
  align-content: center;
  height: 300vh;
  width: auto;
}

.h1 {
  border: none;
  padding: 5px 2px;
  text-align: center;
  text-decoration: style;
  display: inline-block;
  font-size: 12px;
}


#city {
  border: none;
  padding: 5px 2px;
  text-align: center;
  text-decoration: style;
  display: inline-block;
  font-size: 40px;
}

.card {
  background: #8dd314;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 830px;
  margin: 1em;
}
.github {
  position: relative;
  left: 0em;
  top: auto;
}

.search {
  display: inline-block;
  color: blue;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 15px;
}

div.actual {
  display: flex;
}

ul.actual {
  list-style: none;
  text-transform: capitalize;
  font-size: medium;
  font-weight: 100;
  height: auto;
  width: 50%;
  margin-bottom: 0%;
  /*  background-color:tomato;*/
}

.actual img {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.temperature {
  
  font-weight: bold;

}

.unit {

   font-weight: bold;
}
.Mon {
  font-size: medium;
  text-align: left;
}

.Tue {
  font-size: medium;
  text-align: left;
}
.Wed {
  font-size: medium;
  text-align: left;
}
.Thu {
  font-size: medium;
  text-align: left;
}
.Fri {
  font-size: medium;
  text-align: left;
}

.Monday {
  position: static;
  text-align: left;
  color: yellow;
  border: yellow;
  padding: 32px;
  background-color: blueviolet;
  border-radius: 30px;
  border: 1px;
  margin: 1px;
  height: auto;
  max-width: 10rem;
}

.Tuesday {
  position: static;
  color: yellow;
  border: yellow;
  padding: 32px;
  background-color: blueviolet;
  border-radius: 30px;
  border: 1px;
  margin: 1px;
  height: auto;
  max-width: 10rem;
}
.Wednesday {
  position: static;
  color: yellow;
  border: yellow;
  padding: 32px;
  background-color: blueviolet;
  border-radius: 30px;
  border: 1px;
  margin: 1px;
  height: auto;
  max-width: 10rem;
}
.Thursday {
  position: static;
  color: yellow;
  border: yellow;
  padding: 32px;
  background-color: blueviolet;
  border-radius: 30px;
  border: 1px;
  margin: 1px;
  height: auto;
  max-width: 10rem;
}

.Friday {
  color: yellow;
  border: yellow;
  padding: 32px;
  background-color: blueviolet;
  border-radius: 30px;
  border: 1px;
  margin: 1px;
  height: auto;
  max-width: 10rem;
}
.weather-app {
  margin: 30px auto;
  padding: 20;
  border: 1px solid #8dd314;
  border-radius: 5px;
}
